.table-detail {
    display: flex;
    font-weight: normal;
}

.table {
    padding: 24px;
}

.page-content {
    padding: 1rem;
}

.active-word {
    font-weight: bold;
    font-style: italic;
    font-size: 2.3rem;
}

.gender-text {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 17px;
}

.word-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}